target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/*.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

sonarlint
sonarlint/issuestore

tests/build

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/.jpb/

**/allure-results
allure-results

framework/out/**
tests-ui/out/**

browserstack.err
tests-ui/browserstack.err

logs/**

**/resources/env

selenoid/logs/**
selenoid/video/**
selenoid/video/*.mp4

selenoid/profile/**
selenoid/profile/profile_chrome_*
/.m2/
/.m2/**
/?/
/?/**

docker-compose.new.yml
docker-compose.old.yml